@import "../../../styles/base.scss";

.trip-tip {

  image,
  .taro-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
  }

  .trip-tip-info {
    max-width: 100%;

    .trip-tip-info-title {
      font-size: 40px;
      color: $color-primary;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-bottom: 9px;
    }

    .trip-tip-info-detail {
      font-size: 22px;

      Text,
      span {
        margin-right: 20px;
        color: $color-dark2;
      }
    }
  }
}